*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"PT" ,sans-serif;
}
:root {
    --mainColor:#7b5244;
    --subColor:#333;
}
.container{
    width: 80%;
    margin: auto;
}
header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }
header .header-content img{
    font-size: 20px;
    flex: 1;
    max-width: 170px;
}
header .header-content nav{
    flex: 3;
    text-align: center;
}
header .header-content .login{
    flex: 1;
    text-align: right;
}
header .header-content ul li{
    display: inline-block;
}
.List-unstyled{
    list-style: none;
}

.header-content ul li{
    display: inline-block;
}
.header-content ul li,
.header-content ul li a{
    color: var(--subColor);
}
.header-content nav ul li a{
    padding: 10px;
    display: block;
    font-weight: bold;
}
.header-content .login ul li{
    padding: 10px;
    font-weight: bold;
}
.header-content .login ul li:last-child i:after{
    position: absolute;
    content: "0";
    background: var(--mainColor);
    color: white;
    bottom: 0px;
    right: -11px;
    border-radius: 50%;
    padding: 4px;
    font-size: 13px;
}